{{ 'section-new-carousel.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{ section.id }} {
      background-color: {{ section.settings.bg_color }};
      padding-top: {{ section.settings.ptop }}px;
      padding-bottom: {{ section.settings.pbottom }}px;
  }

  @media (max-width: 768px) {
      .section-{{ section.id }} {
        padding-top: {{ section.settings.ptop_mob }}px;
        padding-bottom: {{ section.settings.pbottom_mob }}px;
      }
  }
</style>

<div class="section-{{ section.id }}">
  <div class="page-width new-carousel">
    {% for block in section.blocks %}
      {% style %}
        .section-{{ section.id }} .new-carousel__block-{{ block.id }} {
          order: {% if block.settings.featured == true %}0{% else %}1{% endif %};
        }
      {% endstyle %}
      <div class="new-carousel__block new-carousel__block-{{ block.id }}">
        <h4 class="new-carousel__block-title {{ block.type }}">{{ block.settings.title }}</h4>
        <p class="new-carousel__block-desc">{{ block.settings.description }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "New Carousel",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#FBF9F6"
    },
    {
      "type": "header",
      "content": "Space"
    },
    {
      "type": "range",
      "id": "ptop",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "range",
      "id": "pbottom",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 60
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding top on mobile",
      "default": 40
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom on mobile",
      "default": 40
    }
  ],
  "blocks": [
    {
      "name": "Campaign",
      "type": "campaign",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "checkbox",
          "id": "featured",
          "label": "Featured",
          "default": false
        }
      ]
    },
    {
      "name": "New product",
      "type": "new_product",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "checkbox",
          "id": "featured",
          "label": "Featured",
          "default": false
        }
      ]
    },
    {
      "name": "News",
      "type": "news",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "checkbox",
          "id": "featured",
          "label": "Featured",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "New Carousel"
    }
  ]
}
{% endschema %}
